body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Arial, sans-serif;
}
.wrap {
	width: 1170px;
	margin: 0 auto;
	font-size: 10;
}
.my-image {
	display: inline-block;
	vertical-align: top;
	width: 470px;
	margin-right: 30px;
	font-size: 16px;
}
.my-info {
	display: inline-block;
	vertical-align: top;
	width: 670px;
	font-size: 16px;
}
